
QTableView{
    background-color           : black;
    alternate-background-color : gray;
    gridline-color             : black;
    color                      : black;
    selection-color            : black;
    font                       : bold 8px;
    padding                    : 2px;
}

QHeaderView:section{
    background                 : #F0F0F0;
    font                       : 8px;
    padding                    : 2px;
    margin                     : 1px;
}

